<div class="video-item with-mask new-item">
    <div class="vi-in">
        <a class="vi-img img-resp-h" href="/film" alt="{{Title}}">
            <img class="" src="{{PosterURL}}" data-src="{{PosterURL}}" alt="{{Title}}">
            <div class="vi-desc">
                <div class="vi-title">{{Title}}</div>
            </div>
            <div class="th-mask fx-col fx-center fx-middle">
                <span class="fa fa-play"></span>
            </div>
            <div class="th-inf icon-l" data-source=""><span class="fa fa-info"></span></div>
        </a>
    </div>
</div>