<!doctype html>
<html lang="ru">
<head>

    <meta charset="utf-8">
    <title>Смотреть фильмы Нетфликс онлайн бесплатно на русском</title>
    <meta name="description" content="Смотреть все новые фильмы компании Нетфликс в режиме онлайн, совершенно бесплатно и на русском языке.">

    <link href="style_1.css" rel="stylesheet">
    <link href="style_2.css" rel="stylesheet">
    <link href="style_3.css" rel="stylesheet">
    <link href="dark.css" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
</head>
<body>
    <div class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-draggable" tabindex="-1" style="outline: 0px; z-index: 1002; height: auto; width: 320px; top: 216px; left: 1109px; display: block; max-height: 331px; max-width: 320px;" role="dialog" aria-labelledby="ui-id-1">
        <div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix">
            <span id="ui-id-1" class="ui-dialog-title">Авторизация</span>
            <a href="/zetflix" class="ui-dialog-titlebar-close ui-corner-all" role="button"><span class="ui-icon ui-icon-closethick">close</span></a>
        </div>
        <div class="login-box ui-dialog-content ui-widget-content" id="login-box" style="display: block; width: auto; min-height: 0px; height: 278px; overflow: auto;" scrolltop="0" scrollleft="0">
            <form method="post">
                <input type="text" name="login_name" id="login_name" placeholder="Ваш логин">
                <input type="password" name="login_password" id="login_password" placeholder="Ваш пароль">
                <button onclick="submit();" type="submit" title="Вход">Авторизация</button>
                <input name="login" type="hidden" id="login" value="submit">

            </form>
        </div>
    </div>
</body>
</html>